%h1.sectionHead This is more than my personal site.
= infoPane('https://github.com/odiab/omardiab', 'github_icon.png', 'I built this site to be general enough for any person to make their own site with. Everything is kept in configurable files so that most of the details of this site can easily be edited. The project is open source, so feel free to fork it and play with it!')
