div.iconPane {
  background: none;

  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
  -moz-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;

  -webkit-border-top-right-radius: 20px;
  -webkit-border-bottom-left-radius: 20px;
  -moz-border-radius-topright: 20px;
  -moz-border-radius-bottomleft: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;

  clear: both;
  overflow: hidden;
  width: 60%;
  padding: .5em;

  div.leftPane, div.rightPane {
    display: inline-block;
    vertical-align: middle;
  }

  div.leftPane {
    width: 15%;
    margin-right: 5%;

    img.icon {
      vertical-align: middle;
      max-width: 100%;
      max-height: 100%;
    }
  }

  div.rightPane {
    width: 75%;
  }

  &:hover {
    background-color: #eee;
  }
}

a.iconPaneLink {
  &:link, &:hover, &:visited, &:active {
    text-decoration: none;
    color: black;
  }
}
