.div#header
  %span#pageheader Omar Diab
  %ul.nav
    -sections.each do |section|
      %li.section
        = link_to(section, section)
.div#content
  = yield
.div#footer
  %p
    Omar Diab &copy; 2012 | 
    = link_to('/about')
